@import "tailwindcss";


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: clamp(2.25rem, 5vw + 1rem, 5.6rem);
  line-height: 144px;
  text-align: center;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: clamp(1.75rem, 4vw + 0.5rem, 4.2rem);
  line-height: 112px;
  text-align: center;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: clamp(1.375rem, 3vw + 0.5rem, 3.16rem);
  line-height: 62px;
  text-align: center;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: clamp(1.125rem, 2.2vw + 0.4rem, 2.37rem);
  line-height: 62px;
  text-align: center;
}
h5 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: clamp(1rem, 1.8vw + 0.3rem, 1.78rem);
  line-height: 62px;
  text-align: center;
}
h6 {
  font-family: "Montserrat", sans-serif;
  line-height: 62px;
}

p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: clamp(1.1rem, 1.3vw, 1.3125rem);
  text-align: center;
  opacity: 75%;
  color: #2a2b28;
  margin-top: clamp(14px, 1.2vw, 16px);
}

.social-media a {
  display: flex;
  background: #e0f0ea;
  height: 50px;
  width: 50px;
  margin: 0 10px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: transform 0.5s;
}

.social-media a i {
  font-size: 25px;
  color: #777;
  transition: transform 0.5s;
}

.social-media a:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.01);
  transform: translateY(2px);
}

.social-media a:hover i {
  transform: scale(0.9);
}

.social-media a:hover .fa-facebook {
  color: #3b5998;
}

.social-media a:hover .fa-x-twitter {
  color: #000000;
}

.social-media a:hover .fa-github {
  color: #000000;
}

.social-media a:hover .fa-instagram {
  color: #f14843;
}

.social-media a:hover .fa-linkedin-in {
  color: #3b5998;
}
.social-media a:hover .fa-envelope {
  color: #cc3a2e;
}
